# Pandas: Heroes Of Pymoli - Analysis Report
 - Observed Trend 1:
 - Observed Trend 2:
 - Observed Trend 3:

In [ ]:
import pandas as pd

In [ ]:
# Read the JSON file

fpath = input("Please choice file (1) or file (2)?")

if (fpath == "1"):
    JS = pd.read_json("purchase_data.json")
elif (fpath == "2"):
    JS = pd.read_json("purchase_data2.json")
else:
    print("no such file")
JS.head()

#### Player Count

In [ ]:
# Total Number of Players
Player_Count = pd.DataFrame([{"Total Players":JS["SN"].nunique()}])
Player_Count

#### Purchasing Analysis (Total)

In [ ]:
#Number of Unique Items
UItem = JS["Item ID"].nunique()
#Average Purchase Price
AvePur = JS["Price"].mean() 
#Total Number of Purchases
NPur = JS["Price"].count()
#Total Revenue
TRev = JS["Price"].sum()

PurAnsys = pd.DataFrame([{"Number of Unique Items":UItem, "Average Price":"$"+str(round(AvePur,2)), "Number of Purchases":NPur, "Total Revenue":"$"+str(round(TRev,2))}])

PurAnsys = PurAnsys[["Number of Unique Items","Average Price","Number of Purchases","Total Revenue"]]
PurAnsys

#### Gender Demographics

In [130]:
TotalC = JS["Gender"].count()
MaleC =JS["Gender"].value_counts()
MaleP =round(MaleC / TotalC*100,2)

# Creating a new DataFrame using both duration and count
GenderDemo = pd.DataFrame({"Percentage of players":MaleP,"Total Count":MaleC})
GenderDemo

#Alternative Method
    #TotalC = JS["Gender"].count()
    #MaleC =pd.DataFrame(JS["Gender"].value_counts())
    #MaleP =pd.DataFrame(round(MaleC / TotalC*100,2))
    #MaleC = MaleC.reset_index().rename(columns={'index':'Gender','Gender':'Total Count'})
    #MaleP = MaleP.reset_index().rename(columns={'index':'Gender','Gender':'Percentage of Players'})
    #GenderDemo = pd.merge(MaleP,MaleC,how='left',on='Gender')
    #GenderDemo

                       Percentage of players  Total Count
Male                                   82.05           64
Female                                 16.67           13
Other / Non-Disclosed                   1.28            1

#### Purchasing Analysis (Gender)
 ###### The below each broken by gender

In [1]:
JSMax = JS['Price'].max()
JSMin = JS['Price'].min()
JSMean = JS['Price'].mean()
JSStd = JS['Price'].std()
JSN = (JS['Price'] - JSMean)/JSStd

NameError: name 'JS' is not defined

In [280]:
JSMax = JS['Price'].max()
JSMin = JS['Price'].min()
JSMean = JS['Price'].mean()
JSStd = JS['Price'].std()
JSN = (JS['Price'] - JSMean)/JSStd

JSGroup = JS.groupby(['Gender'])
#Purchase Count
PCbyG = JSGroup['Price'].count()
#Average Purchase Price
APbyG = round(JSGroup['Price'].mean(),2)
#Total Purchase Value
TPbyG = JSGroup['Price'].sum()
#Normalized Totals
JSN = (JS['Price'] - APbyG)/

PAbyG = pd.DataFrame({"Purchase Count":PCbyG,"Average Purchase Price":APbyG,"Total Purchase Value":TPbyG,"Normalized Totals":TPbyGN})
PAbyG = PAbyG[["Purchase Count","Average Purchase Price","Total Purchase Value","Normalized Totals"]]
PAbyG

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Gender,,,,
Female,13,3.18,41.38,41.38
Male,64,2.88,184.60,184.60
Other / Non-Disclosed,1,2.12,2.12,2.12

#### Age Demographics
 ###### The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

In [279]:
# Create the bins in which Data will be held
JS["Age"]=pd.to_numeric(JS['Age'])
bins = [0,9,14,19,24,29,34,39,40]
group_names = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
JS["Age Group"] = pd.cut(JS["Age"],bins,labels=group_names)
JSgrAge = JS.groupby(['Age Group'])
#Purchase Count
PCbyA =JSgrAge['Price'].count()
#Average Purchase Price
APbyA =round(JSgrAge['Price'].mean(),2)
#Total Purchase Value
TPbyA =JSgrAge['Price'].sum()
#Normalized Totals
TPbyAN = JSgrAge['Price'].sum(normalize=True)

ADbyG = pd.DataFrame({"Purchase Count":PCbyA,"Average Purchase Price":APbyA,"Total Purchase Value":TPbyA,"Normalized Totals":TPbyAN})
ADbyG = ADbyG[["Purchase Count","Average Purchase Price","Total Purchase Value","Normalized Totals"]]
ADbyG

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Age Group,,,,
<10,5,2.76,13.82,13.82
10-14,3,2.99,8.96,8.96
15-19,11,2.76,30.41,30.41
20-24,36,3.02,108.89,108.89
25-29,9,2.90,26.11,26.11
30-34,7,1.98,13.89,13.89
35-39,6,3.56,21.37,21.37
40+,1,4.65,4.65,4.65

In [ ]:
Top Spenders


Identify the the top 5 spenders in the game by total purchase value, then list (in a table):


SN
Purchase Count
Average Purchase Price
Total Purchase Value

In [ ]:
Most Popular Items


Identify the 5 most popular items by purchase count, then list (in a table):


Item ID
Item Name
Purchase Count
Item Price
Total Purchase Value

In [ ]:
Most Profitable Items


Identify the 5 most profitable items by total purchase value, then list (in a table):


Item ID
Item Name
Purchase Count
Item Price
Total Purchase Value